body { background-color: whitesmoke; color: #282828; font-family:"Calibri"; font-size: large; margin: auto;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
ul { list-style: none outside none; margin: 0; padding: 0; text-align: center; }
li { margin: 5px; display: inline; }
a { text-decoration: none; color: #d36363; font-size: large;}
a:hover { color: #fff;}
a:active { background-color: #fff; color: #000;}
table { border: solid 1px; background-color: #fff; color: #000; }
footer{ font-size: medium; text-align: center; }
.green {color: green; font-weight: bold;}
.red {color: red; font-weight: bold;}
.rns {background-color: #f87474; color: #000;}
.bbs {background-color: #caff77; color: #000;}
.r357 {background-color: #f8be74; color: #000;}
.threshold {background-color: #f2f2f2;}
.datetime {text-align: center}
.marginauto { margin: 10px auto 20px; display: block; }
.name { font-weight: bolder; font-size: x-large; margin: 10px;}
img {max-width: 800px}
table {margin: auto;}
.info {margin: auto; text-align: center;}
